body {
    color: white;
    background-color: #242424;
}

button {
    border: 1px darkslategray solid;
    background-color: #575757;
    color: white;
}

button:hover, footer:hover {
    background-color: #646464;
}

input[type=checkbox] {
    border: 1px solid #575757;
    border-radius: 4px;
    background-color: #323232;
    cursor: pointer;
}

input[type=text] {
    background-color: #404040;
    color: white;
}

a, h3 {
    color: inherit;
}